@import 'utils';

.header {
  border-bottom: 1px solid $oc-gray-2;
  height: 4rem;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-around;
  padding: 0.6rem;

  @include media("<small") {
    padding: 0.2rem;
  }

  .title {
    width: 360px;
    font-size: 2rem;
    font-family: 'Song Myung', serif;
  }

  .sub-title {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    font-weight: 700;
    font-size: 0.9rem;
  }
}